a {
    text-decoration: none;
    color: #373867;
}

header {
    background-color: #46A37C;
}

header h2 {
    font-size: 30px;
    color: #373867;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


h1,
h2,
h3,
h4,
p,
label,
li,
a {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    margin: 20px 0px;
}

main #home h1 {
    font-size: 8vw;
    margin: 15px 0px 20px;
}

main #home .subtitle-one p {
    font-size: 3vw;
    margin: 10px 0px;
}

main #home .text-one p {
    font-size: 2.5vw;
    margin: 10px 0px;
}

@media screen and (min-width: 768px) {
    main #home h1 {
        font-size: 4vw;
    }
    main #home .subtitle-one p {
        font-size: 2vw;
    }
    main #home .text-one p {
        font-size: 1.5vw;
    }
}

.fuctionalities-blocks h4 {
    font-weight: 500px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #46A37C;
    padding-bottom: 20px;
}

.fuctionalities-blocks p {
    position: relative;
    line-height: 19px;
}

section h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #373867;
}

.subtitle-one p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B4AFAF;
}

.text-one {
    top: 600px;
}

.text-one p {
    margin-left: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.sumbit-one input {
    border-radius: 5px;
    border-color: transparent;
    background: #AACE9B;
}

.sumbit-two input {
    color: #373867;
    border-radius: 5px;
    border-color: #373867;
    background: #FFFFFF;
}

.sidebar a {
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar li img {
    background: white;
}