<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BaSP-2022</title>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <link rel="stylesheet" type="text/css" href="../styles/header.css">
  <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
  <link rel="stylesheet" type="text/css" href="../styles/landing.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <header>
    <div class="block-logo">
      <img id="logo" src="../assets/logo.png">
    </div>
    <div class="burguer-icon">
      <img src="../assets/hamburguer.png">
    </div>
    <h2>
      Trackgenix SA
    </h2>
  </header>
  <aside class="sidebar">
    <ul>
      <li>
        <img src="../assets/home-icon.png" alt="" srcset="">
        <a href="">Home</a>
      </li>
      <li>
        <img src="../assets/contact-icon.png" alt="" srcset="">
        <a href="https://gregorioelias.github.io/BaSP-M2022-Etapa-1/Semana-06/views/sign-up.html">SignUp</a>
      </li>
      <li>
        <img src="../assets/contact-icon.png" alt="" srcset="">
        <a href="https://gregorioelias.github.io/BaSP-M2022-Etapa-1/Semana-06/views/login.html">LogIn</a>
      </li>
      <li>
        <img src="../assets/mail-icon.png" alt="" srcset="">
        <a href="#con">Contact</a>
      </li>
    </ul>
  </aside>
  <main>
    <section id="home" class="section-line">
      <div class="presentation">
        <h1>
          Hi, we are trackgenix
        </h1>
        <div class="subtitle-one">
          <p>
            THE BEST CHOICE FOR YOUR BUSINESS
          </p>
        </div>
        <div class="text-one">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid voluptas velit accusamus 
            veritatis inventore corrupti sunt vitae illo, autem ea voluptatem iusto architecto dolor earum
            voluptatibus minima amet dolorum maiores. Lorem Ipsum is simply dummy
            text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
            text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled t to make a type specimen book.
          </p>
        </div>
      </div>
      <img class="img-home" src="../assets/desktop.png" alt="">
    </section>
    <section class="section-line">
      <section class="fuctionalities-boxes">
        <div class="fuctionalities-blocks">
          <h4>
            Hours
          </h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero 
            sequi perferendis facilis pariatur.
          </p>
        </div>
        <div class="fuctionalities-blocks">
          <h4>
            Reports
          </h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero 
            sequi perferendis facilis pariatur
          </p>
        </div>
        <div class="fuctionalities-blocks">
          <h4>
            Resource managment
          </h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero 
            sequi perferendis facilis pariatur
          </p>
        </div>
        <div class="fuctionalities-blocks">
          <h4>
            Multiple roles
          </h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Ipsa quas eos, sint dolorem necessitatibus qui laudantium 
            libero sequi perferendis facilis pariatur
          </p>
        </div>
      </section>
    </section>
    <section class="section-line">
      <div class="why-choose-us-container">
        <div class="why-choose-us-box">
          <div class="img-icon">
            <img class="icon" src="../assets/new-productivity-booster.png">
          </div>
          <div class="why-choose-us-text">
            <h3>
              Productivity Booster
            </h3>
            <p>
              Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero.
            </p>
          </div>
        </div>
        <div class="why-choose-us-box">
          <div class="img-icon">
            <img class="icon" src="../assets/new-work-traceability.png">
          </div>
          <div class="why-choose-us-text">
            <h3>
              Work traceability
            </h3>
            <p>
              Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero
            </p>
          </div>
        </div>
        <div class="why-choose-us-box">
          <div class="img-icon">
            <img class="icon" src="../assets/new-leadership.png">
          </div>
          <div class="why-choose-us-text">
            <h3>
              Leadership and team managment
            </h3>
            <p>
              Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero.
            </p>
          </div>
        </div>
        <div class="why-choose-us-box">
          <div class="img-icon">
            <img class="icon" src="../assets/new-decision-making.png">
          </div>
          <div class="why-choose-us-text">
            <h3>
              Decision making
            </h3>
            <p>
              Ipsa quas eos, sint dolorem necessitatibus qui laudantium libero.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="con" class="section-line">
      <h3 class="con-title">
          Contact us for information about the system
      </h3>
      <form>
        <div class="fields-container">
            <div class="fields">
                <label for="fname">First name:</label>
                <input type="text" id="fname" name="fname" placeholder="Juan">
            </div>
            <div class="fields">
                <label for="lname">Last name:</label>
                <input for="lname" id="lname" name="lname" placeholder="Perez">
            </div>
        </div>
        <div class="other-text-inputs">
          <div class="fields">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" placeholder="example@example.com">
          </div>
          <div class="fields">
            <label for="conarea">Contact area:</label>
            <select id="conarea" name="conlist" form="conform">
              <option value="" hidden>Option</option>
              <option value="hr">Human Resources</option>
              <option value="sys">Systems</option>
              <option value="com">Commerce</option>
            </select>
          </div>
        </div>
        <div class="fields">
          <label for="textarea">Text Area:</label>
          <textarea id="textarea" name="textarea" rows="4" cols="50" placeholder="Write a text here"></textarea>
        </div>
        <div class="sumbit-container">
          <div class="sumbit-one">
            <input type="submit" value="SEND MESSAGE">
          </div>
          <div class="sumbit-two">
            <input type="submit" value="RESET">
          </div>
        </div>
      </form>
    </section>
    <section class="section-line">
      <div id="who-we-are">
        <h3>
          Who we are
        </h3>
        <p>
          RR time tracker is a web platform that help to manage time at work
        </p>
        <p>
          What type of application do you have in mind?
        </p>
        <p>
          We are providing you with the core UI kit needed to kickstart your design and development while also allowing you to add new functionalities to the existing capabilities.
        </p>
      </div>
    </section>
    <section class="section-line">
      <div class="list-container">
        <div class="list-section">
          <h3>Products</h3>
          <ol>
            <li>Help.</li>
            <li>Tutorials.</li>
            <li>API.</Li>
            <li>Contact.</li>
          </ol>
        </div>
        <div class="list-section">
            <h3>Company</h3>
            <ol>
              <li>About us.</li>
              <li>Clients.</li>
              <li>Resources.</i>
              <li>Blog.</li>
            </ol>
        </div>
        <div class="list-section">
          <h3>Support</h3>
          <ul>
            <li>Functionalities.</li>
            <li>Downloads.</li>
            <li>Integrations.</li>
            <li>Additionals features.</li>
          </ul>
        </div>
      </div>
    </section>
    <footer class="section-line">
      <a href="https://www.facebook.com/radiumrocket/" target="_blank">
        <img src="../assets/fcb.png" alt="Facebook">
      </a>
      <a href="https://ar.linkedin.com/company/radium-rocket" target="_blank">
        <img src="../assets/in.png" alt="Linkdn">
      </a>
      <a href="https://www.instagram.com/radium.rocket/" target="_blank">
        <img src="../assets/insta.png" alt="Insta">
      </a>
      <a href="https://twitter.com/radiumrocket" target="_blank">
        <img src="../assets/twt.jpg" alt="Twitter">
      </a>
      <p>
        Copyright &copy; 2022 Trackgenix S.A. All rigths reserved.
      </p>
    </footer>
  </main>
</body>
</html>
