<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BaSP-2022-Login</title>
  <link rel="stylesheet" type="text/css" href="../styles/reset.css">
  <link rel="stylesheet" type="text/css" href="../styles/styles.css">
  <link rel="stylesheet" type="text/css" href="../styles/header.css">
  <link rel="stylesheet" type="text/css" href="../styles/login.css">
  <link rel="stylesheet" type="text/css" href="../styles/footer.css">
  <script src="../javascript/login.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
</head>
<body>
  <header>
    <div class="block-logo">
      <img id="logo" src="../assets/logo.png">
    </div>
    <h2>
      Trackgenix SA
    </h2>
  </header>
  <main>
    <form class="login-form" novalidate>
      <div class="form-box">
      <h2>Login</h2>
      <div class="flex-field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="email">
        <div id="messageEmail"></div>
      </div>
      <div class="flex-field">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" value="password">
        <div id="messagePass"></div>
      </div>
      <div>
        <input type="submit" id="signin-b" value="Sign In">
      </div>
      </div>
    </form>
  </main>
  <footer class="section-linr">
    <div class="footer-box"> 
      <a href="https://www.facebook.com/radiumrocket/" target="_blank">
        <img src="../assets/fcb.png" alt="Facebook">
      </a>
      <a href="https://ar.linkedin.com/company/radium-rocket" target="_blank">
        <img src="../assets/in.png" alt="Linkdn">
      </a>
      <a href="https://www.instagram.com/radium.rocket/" target="_blank">
        <img src="../assets/insta.png" alt="Insta">
      </a>
      <a href="https://twitter.com/radiumrocket" target="_blank">
        <img src="../assets/twt.jpg" alt="Twitter">
      </a>
      <p>
        Copyright &copy; 2022 Trackgenix S.A. All rigths reserved.
      </p>
    </div>
  </footer> 
    
</body>
</html>
