<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/sign-up.css">
    <title>Sign up Trackgenix</title>
</head>
<body>
    <header>
        <h2>
          Trackgenix SA
        </h2>
        </header>
        <h2>HTML Forms</h2>
    <form action="/action_page.php">
      <label for="firstname">First name:</label>
      <input type="text" id="firstname" name="firstname" value="First name">
      <label for="lastname">Last name:</label>
      <input type="text" id="lastname" name="lastname" value="Last name">
      <label for="dni">DNI:</label>
      <input type="text" id="dni" name="dni" value="DNI">
      <label for="dateofbirth">Date of birth:</label>
      <input type="text" id="dateofbirth" name="dateofbirth" value="Date of birth">
      <label for="phone-number">Phone number:</label>
      <input type="text" id="phone-number" name="phone-number" value="Phone number">
      <label for="address">Adress:</label>
      <input type="text" id="address" name="address" value="Address">
      <label for="city">City:</label>
      <input type="text" id="city" name="city" value="City">
      <label for="postalcode">Postal code:</label>
      <input type="text" id="postalcode" name="postalcode" value="Postal code">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" value="email"> 
      <label for="password">Password:</label>
      <input type="text" id="password" name="password" value="password">
      <label for="repeatpassword">Repeat password:</label>
      <input type="text" id="repeatpassword" name="repeatpassword" value="Repeat password">
      <input type="submit" value="Sign up">
    </form>  
</body>
</html>