body {
    margin: 0;
    font-family: 'Roboto';
}

.margin {
    margin-left: 300px;
    margin-top: 30px;
}

.block-logo {
    position: fixed;
    width: 130px;
    height: 80px;
    margin-bottom: 70px;
    top: 0px;
    
}
header {
    height: 150px;
    width: 100%;
    background-color: #46A37C;
   
    
}
header h2 {
    margin-left: 300px;
    padding: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sidebar {
    position: fixed;
    background-color: #373867;
    width: 254px;
    height: 100%;
    top: 150px;
}

.sidebar ul {
    list-style: none;
    
}

.sidebar li {
    padding-bottom: 50px;

}

.sidebar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

section h1 {
    height: 100px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    color: #373867;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle-one p {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
color:blue;
color: #B4AFAF;
}
.text-one {
    top: 600px;
}
.text-one p {
margin-top: 40px;
 margin-left: 1px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}


.img-home {
    float: right;
    margin: 20px;
    right: 50px;
    

}

.home {
    display: inline-block;
}

.fuctionalities-blocks {
    display: inline-block;
    width: 35%;
    height: 130px;
    margin: 30px;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;

}

.fuctionalities-blocks h4 {
    font-weight: 500px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #46A37C;
    padding-bottom: 20px;
    
}

.why-choose-us {
    display: inline-block;
    width: 40%;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    margin: 10px;

}

.why-choose-us-text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    margin-top: 5px;
    padding: 10px;
}


.img-icon {
    display: inline-block;
    background-color: #f0e5e5;
    border-radius: 95%;
    width: 120px;
    height: 120px;
}

.img-icon img {
    width: 80px;
    height: 80px;
    padding: 20px;
}

form label, form input {
    display: block;
    width: 90%;
}

.block-fields {
    display: block;
}

.firstName {
    position: relative;
    margin-left: 0;
    float: left;
    width: 50%;
}

.lastName {
    position: relative;
    margin-left: 50%;
}

.con-title {
    font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
align-items: center;
color: #373867;
margin: 15px 0px 15px 0px;
}


.other-text-inputs input {
    width: 95%;
    margin: 5px 0px 5px 0px;
}   

.other-text-inputs select {
    width: 96%;
    margin: 5px 0px 5px 0px;
}

.textarea-input {
    width: 96%;
    margin: 5px 0px 5px 0px;

}

.sumbit-bottoms {
    display: block;
}

.sumbit-one {
    position: relative;
    margin-left: 0;
    float: left;
    width: 15%;
}

.sumbit-two {
    position: relative;
    margin-left: 15%;
    width: 15%;

}

.who-we-are {
    display:inline-block;
    width: 70%;
    margin: 5%;
    margin-left: 117px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 15px;
    filter: drop-shadow(0px 10px 10px rgba(55, 56, 103, 0.5));
    vertical-align: middle;
}

.who-we-are p {
    color:black;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

}

.who-we-are h3 {
    color: #373867;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
}

.list-section {
    display: inline-block;
    width: 25%;
    color: black;
    margin-left: 40px;
    padding-left: 30px;


}

.list-section ul{
    list-style-type:circle;
}

.list-section ol{
    list-style-type:decimal;
}

.list-section h3{
    margin: 15px 0px 23px 0px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
color:black;
}

footer {
    margin-top: 3%;
    padding-right: 100px;
    text-align: center;
    font-size: 11px;
    line-height: 30px;
    font-style: italic;

}

footer img {
    padding: 10px;
    width: 40px;
    height: 40px;
}