main #home {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
}

.fuctionalities-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px red solid;
}

.fuctionalities-blocks {
    width: 40%;
    margin: 10px;
    max-width: 40%;
    padding: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.icon {
     display: flex;
     width: 80px;
     height: 80px;
}

.why-choose-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.why-choose-us-box {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 40%;
    margin: 10px 10px;
    padding: 20px;
}

.functionalities-containers {
    border: 1px solid blue;
}

.why-choose-us-container {
    border: 1px solid blue;
}

.why-choose-us-text h3 {
    padding: 10px;
}

.why-choose-us-text p {
    padding: 10px;
}

#con {
    border: 3px solid rgb(206, 7, 0);
}
    
.fields {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fields-container {
    border: 3px solid green;
    display: flex;
    flex-direction: column;
}

.sumbit-container {
    border: 3px solid orange;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#who-we-are {
    margin: 5%;
    margin-left: 11%;
    padding: 30px;
    padding-bottom: 10px;
    width: 70%;
    border: 3px red solid;
    border-radius: 15px;
    vertical-align: middle;
    background-color: #F2F2F2;
    filter: drop-shadow(0px 10px 10px rgba(55, 56, 103, 0.5));

}

#who-we-are p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    line-height: 22px;
    color:black;
}

.list-container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.list-section {
    border: 1px solid green;
    min-width: 250px;
}

.list-section ul{
    list-style-type: circle;
}

.list-section ol{
    list-style-type: decimal;
}

.list-section h3 {
    margin: 15px 0px 23px;
    line-height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: black;
}

    /* Media queries */

@media screen and (min-width: 480px) {
    .sumbit-container {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {
    main #home {
        flex-direction: row;
    }

    main #home .img-home {
        width: 23vw;
    }

    .fields-container {
        flex-direction: row;
        align-items: none;
    }

    main {
        margin-left: 224px;
    }
}
