.fuctionalities-blocks h4 {
    font-weight: 500px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #46A37C;
    padding-bottom: 20px;
}

.fuctionalities-blocks p {
    position: relative;
    line-height: 19px;
}

section h1 {
    height: 100px; 
    line-height: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #373867;
}

.subtitle-one p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #B4AFAF;
}

.text-one {
    top: 600px;
}

.text-one p {
    margin-top: 40px;
    margin-left: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.sumbit-one input{
    border-radius: 5px;
    border-color: transparent;
    background: #AACE9B;
}

.sumbit-two input {
    color: #373867;
    border-radius: 5px;
    border-color: #373867;
    background: #FFFFFF;
}